@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Playwrite+VN:wght@100..400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
   box-sizing: border-box;
   margin: auto;
   padding: auto;
}

.font {
   font-family: "Jura", serif;
   font-optical-sizing: auto;
   font-weight: 900;
   font-style: normal;
}

.tableImg {
   background-image: url("../src/assets/images/tableBg.jpg");
   width: 80%;
   height: 65%;
   object-fit: cover;
   object-position: center;
}

.custom-scroll {
   height: 10px;
   border: 2px solid red;
   overflow-y: auto;
   scrollbar-width: none; 
}

